.hello {
    text-align: center;
    font-size: x-large;
    /* font-weight: bold; */
    font-weight: light;
    color: rgb(0, 0, 21);
    /* background-color: aqua; */
    text-shadow: 1px 1px rgb(42, 42, 41);

}

.hey {
    background-color: rgb(215, 220, 220);
}